@import url(./reset.css);

	.top_header{
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 100px;
		z-index:9889;
	}
	.top_header .logo_box{
		width: 90%;
		height: 100%;
		float: left;
	}
	.top_header .logo_box img{
		width: 20%;
		margin: 20px 0 0 20px;
		z-index: 999;
	}
	.top_header .slide_btn_box{
		width: 10%;
		height: 100%;
		float: left;
		position: relative;
		cursor: pointer;
	} 
	.slide_btn_box span{
		width: 15px;
		height: 15px;
		border-radius: 50%;
		background-color: #F40009;
		position: absolute;
		top: 50%;
		left: 67%;
		transform: translate(-50%,-50%);
		cursor: pointer;
	}
	.slide_btn_box span p{
		position: absolute;
		color: #F40009;
		bottom: -22px;
		left: -10px;
		font-weight: bold;
		font-size: 12px;
	} 

	article{
		position:fixed;
		right:50px;
		top:50%;
		transform:translateY(-50%);
		width: 20px;
		height: 400px;
		z-index:9889;
	}

	article ul li{
		margin:0 0 29px;
		width: 100%;
		height: 20%;
	}
	article ul li img{
		width: 20px;
		cursor: pointer;
	}
	article ul li img:hover{
		transform: scale(1.2);
    	transition: all 0.6s;
	}

	header{
		position:fixed;
		left:50px;
		top:50%;
		transform:translateY(-50%);
		z-index:9999;
	}
	
	
	header ul li{
		margin:0 0 29px;
	}
	header ul li a{
		display:block;
		width:13px;
		height:13px;
		border-radius:50%;
		border:2px solid #ccc;/*ccc*/
		box-sizing:border-box;
	}
	
	header ul li.on a{
		background-color:#F40009;
		border:none;
	}
	
	section{
		position:fixed;
		width:100%;
		height:100%;
		left:0;
		top:0;
	}
	.modal{
		display: none;/*none*/
		position: fixed;
		z-index: 1;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		overflow: hidden;
    	padding: 12% 10%;
		background-color: rgba(0,0,0,.7);
	}
	.post-wrapper{
		width: 533%;
		height: 100%;
		display: flex;
		justify-content: space-between;
		overflow: hidden;
	}
	.modal_content{
		background-color: #fefefe;
		/* margin: 11% 2% 11% 2%;; */
		padding: 10px 20px;
		border: 1px solid #888;
		/*width: 23rem;/*450*/
		height: 444px;
		/* margin-left: 30px; */
		/* float: left; */
	}
	.modal_content .instaProfile{
		width: 100%;
		height: 13%;
		position: relative;
	}
	.instaProfile .personImgBox{
		width: 16%;
		height: 100%;
		float: left;
	}
	.personImgBox .personImg{
		position: absolute;
		top: 50%;
		left: 0;
		transform:translateY(-50%);
		width: 48px;
		height: 48px;
		border-radius: 50%;
		/* background-image:url(../icon/favicon.png) ; 
		background-repeat: no-repeat; */

	}
	.personImg img{
		width: 100%;
	}
	.instaProfile .personId{
		width: 70%;
		height: 100%;
		line-height: 4rem;
		float: left;
	}
	.personId p{
		font-size: 20px;
		font-weight: 600;
	}
	.instaClose{
		width: 10%;
		height: 100%;
		padding-left: 21px;
		padding-top: 11px;
		color: #aaa;
		float: right;
        font-size: 30px;
        font-weight: bold;
	}
	.instaClose:hover,
    .instaClose:focus {
        color: #F40009;
        text-decoration: none;
        cursor: pointer;
	}
	.modal_content .instaImgBox{
		width: 100%;
		height: 74%;
		border: 1px solid #ccc;
		background-color: #ccc;
	}
	.instaImgBox img{
		height: 100%;
		width: 100%;
	}
	.modal_content .instaLike{
		width: 100%;
		height: 13%;
	}
	.modal_content .instaLike div{
		width: 60px;
		height: 60px;
		float: left;
		padding: 12px 8px 0px 0;
	}
	.modal_content .instaLike div img{
		width: 80%;
	}

	#instaModal #instaSlideNext_Btn{
		position: absolute;
		top: 50%;
		right: 5%;
		transform: translateY(-50%);
	}
	#instaModal #instaSlidePlev_Btn{
		position: absolute;
		top: 50%;
		left: 5%;
		transform: translateY(-50%);
	}
	#instaSlideNext_Btn img,#instaSlidePlev_Btn img{
		width: 40px;
		cursor: pointer;
	}

	#home{background-color:#fff;}
	#about{background-color:#fff; border: 20px solid #F40009;}
	#skill{background-color:#fff; border: 20px solid #F40009;}
	#works{background-color:#fff; border: 20px solid #F40009;}
	
	
	section:not(#home){
		top:100%;
	}