@media screen and (min-width: 451px) and (max-width: 800px) {
    #wrap{
        display: none;
    }
    #m_wrap{
        display: block;
        width:100%;
    }
    body{
        width: 100%;
    }
    section{
		position:relative;
		width:100%;
		height:100%;
	}
    header{
        display: none;
    }
    article{
        display: none;
    }
    .top_header .logo_box{
        width: 80%;
    }
    .top_header .logo_box img{
        width: 135px;
    }
    .top_header .slide_btn_box{
        width: 20%;
    }
    .slide_btn_box span{
        left: 50%;
    }
    .slide_bg{
        width: 100%;
    }
    .slide_close{
        padding: 0;
        height: 120px;
    }
    .close_box span{
        top: 36%;
    }
    .menuCate .sns {
        padding: 23% 6% 0;
    } 
    #home{
        background-color: transparent;
        margin-bottom: 30px;/**/
    }

    #home{background-color:#fff;}
	#about{background-color:#fff; border: 0;}
	#skill{background-color:#fff; border: 0;}
    #works{background-color:#fff; border: 0;}
    
    #home .video_cover video{
        z-index: 0;
    }
    #home .video_cover{
        height: 100%;
    }
    .slideBannerCover{
        height: 100%;
    }
    .slideBannerCover .Banner{
        top: 0;
    }
    .page2Cover{
        height: 100%;
    }
    .page2LeftIn , .page2RightIn{
        width: 100%;
        height: 50%;
    }
    .page2CoverLeft{
        padding: 0;
    }
    .page2CoverRight{
        padding: 0;
    }
    .slideBannerCover .Banner{
        top: 0;
    }
    .Banner .bennerImg{
        height: 55%;
    }
    .bennerImg li{
        padding: 0;
    }

    .slideTxTCover .TxTBox {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 300px;
        background-color: #fff;
        box-shadow: 0 0 0 0 transparent;
        padding: 42px 46px;
    }
    .bannerViewPager{
        display: none;
    }
    .Banner .bennerImg{
        height: 100%;
    }
    .slideTxTCover .TxTBox{
        height: 100%;
        transform: translateY(0);
    }
    .TxTBox h4 {
        text-align: center;
        font-size: 1.5rem;
        margin-bottom: 8px;
    }
    .TxTBox h2{
        text-align: center;
        font-size: 2.2rem;
        margin-bottom: 40px;
    }
    .TxTBox p{
        text-align: center;
        line-height: 1.5rem;
        font-size: 1rem;
    }
    .TxTBox button{
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        margin-top: 24px;
        padding: 14px 18%;
        text-align: center;
    }
    .a2_cover{
        width: 130px;
        height: 40px;
    }
    section .a2_cover .a2 {
        width: 130px;
        height: 40px;
    }
    section .a2_cover .a2 .a2btn {
        transform: scale(0.6);
        margin: 3px;
    }
    .page3Cover{
        padding: 0 0 20px;
        background-color: #eee;
        height: 482px;
        display: block;
        position: relative;
    }
    .page3Cover h2{
        width: 100%;
        height: 70px;
        line-height: 48px;
        padding: 10px 0;
        text-align: center;
        color: #4b4b4b;  
        font-size: 25px;
    }
    .TVpagerVideo {
        position: absolute;
        left: 50%;
        bottom: 10px;
        transform: translateX(-50%);
        width: 112px;
        height: 20px;
        padding: 0;
    }
    .TVpagerVideo span{
        width: 15px;
        height: 15px;
        border-radius: 50%;
        float: left;
        background-color: #ccc;
        margin: 2px 7px 0 7px;
    }
    .TVpagerVideo span.tvPagerON{
        background-color: #FF0000;
    }
    .TVcover{
        width: 90%;
        height: 368px;
        margin-bottom: 30px;
        margin: 0 auto;
    }
    .insta_txtBox{
        width: 100%;
        height: 100px;
        margin-top: 30px;
    }
    .insta_box{
        width: 100%;
        height: 100%;
    }
    .insta_box ul li{
        width: 33.333%;
        height: 25%;
    }
    .insta_txtBox h2{
        text-align: center;
        margin-bottom: 7px;
    }
    .insta_txtBox h4{
        text-align: center;
        color: #FF0000;
    }
    .insta_txtBox p{
        text-align: center;
        font-size: 0.8rem;
        color: #4b4b4b;
        font-weight: bold;
    }
    .insta_plus{
        width: 100%;
        height: 70px;
        float: left;
        text-align: center;
        line-height: 70px;
        font-size: 1.2rem;
        color: #fff;
        background-color: red;
        cursor: pointer;
    }
    .insta_txtBox {
        background-color: #fff;
        padding: 0;
        color: #252525;
        margin-bottom: 30px;
    }
}
@media screen and (min-width: 451px) and (max-width: 559px) {
    .insta_box{
        width: 100%;
        height: 600px;
    }
}
@media screen and (min-width: 300px) and (max-width: 450px) {
    #wrap{
        display: none;
    }
    #m_wrap{
        display: block;
        width:100%;
    }
    body{
        width: 100%;
    }
    section{
		position:relative;
		width:100%;
		height:100%;

	}
    header{
        display: none;
    }
    article{
        display: none;
    }
    .top_header .logo_box{
        width: 80%;
    }
    .top_header .logo_box img{
        width: 135px;
    }
    .top_header .slide_btn_box{
        width: 20%;
    }
    .slide_btn_box span{
        left: 50%;
    }
    .slide_bg{
        width: 100%;
    }
    .slide_close{
        padding: 0;
        height: 120px;
    }
    .close_box span{
        top: 36%;
    }
    .menuCate .sns {
        padding: 32% 6% 5%;
    } 
    .menuCate {
        height: 27%;
    }
    .menuCate .subCate li a{
        font-size: 31px;
    }
    #home{
        background-color: transparent;
        margin-bottom: 30px;
    }

    #home{background-color:#fff;}
	#about{background-color:#fff; border: 0;}
	#skill{background-color:#fff; border: 0;}
    #works{background-color:#fff; border: 0;}
    
    #home .video_cover video{
        z-index: 0;
    }
    #home .video_cover{
        height: 100%;
    }
    .slideBannerCover{
        height: 100%;
    }
    .slideBannerCover .Banner{
        top: 0;
    }
    .page2Cover{
        width: 100%; 
        height: 550px;
    }
    .page2LeftIn{
        width: 100%; 
        height: 220px; 
        background-color: #fff;
    }
    .page2RightIn{
        width: 100%; 
        height: 330px;
    }
    .page2CoverLeft{
        padding: 0;
    }
    .page2CoverRight{
        padding: 0;
    }
    .slideBannerCover .Banner{
        top: 0;
    }
    .Banner .bennerImg{
        height: 55%;
    }
    .bennerImg li{
        padding: 0;
    }

    .slideTxTCover .TxTBox {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 300px;
        background-color: #fff;
        box-shadow: 0 0 0 0 transparent;
        padding: 42px 46px;
    }
    .bannerViewPager{
        display: none;
    }
    .Banner .bennerImg{
        height: 100%;
    }
    .slideTxTCover .TxTBox{
        height: 100%;
        transform: translateY(0);
    }
    .TxTBox h4{
        font-size: 0.9rem;
    }
    .TxTBox h2{
        font-size: 1.5rem;
        margin-bottom: 24px;
    }
    .TxTBox p{
        line-height: 1.3rem;
        font-size: 0.8rem;
    }
    .TxTBox button{
        margin-top: 24px;
        padding: 14px 43%;
    }
    .a2_cover{
        width: 130px;
        height: 40px;
    }
    section .a2_cover .a2 {
        width: 130px;
        height: 40px;
    }
    section .a2_cover .a2 .a2btn {
        transform: scale(0.6);
        margin: 3px;
    }
    .page3Cover{
        padding: 0 0 20px;
        background-color: #eee;
        height: 296px;
        display: block;
        /* margin-top: 30px; */
    }
    .page3Cover h2{
        width: 100%;
        height: 70px;
        line-height: 48px;
        padding: 10px 0;
        text-align: center;
        color: #4b4b4b;
    }
    .TVpagerVideo {
        width: 100%;
        height: 20px;
        padding: 0 37%;
        padding-top: 13px;
    }
    .TVpagerVideo span{
        width: 15px;
        height: 15px;
        border-radius: 50%;
        float: left;
        background-color: #ccc;
        margin: 2px 7px 0 7px;
    }
    .TVcover{
        width: 90%;
        height: 180px;
        margin-bottom: 30px;
        margin: 0 auto;
    }
    

    .insta_txtBox{
        width: 100%;
        height: 100px;
        margin-top: 30px;
    }
    .insta_box{
        width: 100%;
        height: 453px;
    }
    .insta_box ul li{
        width: 33.333%;
        height: 25%;
    }
    .insta_txtBox h2{
        text-align: center;
        margin-bottom: 7px;
    }
    .insta_txtBox h4{
        text-align: center;
        color: #FF0000;
    }
    .insta_txtBox p{
        text-align: center;
        font-size: 0.8rem;
        color: #4b4b4b;
        font-weight: bold;
    }
    .insta_plus{
        width: 100%;
        height: 70px;
        float: left;
        text-align: center;
        line-height: 70px;
        font-size: 1.2rem;
        color: #fff;
        background-color: red;
        cursor: pointer;
    }
    .footer{
        height: 7%;
    }
}
@media screen and (min-width: 500px) and (max-width: 1024px) {
    .slide_bg{
        width: 100%;
    }
    .slide_close{
        padding: 0;
        height: 120px;
    }
    .close_box span{
        top: 36%;
    }
    .menuCate .sns {
        padding: 26% 6% 27%;
    }
    .menuCate {
        height: 45%;
    }
    .menuCate .subCate li a{
        font-size: 31px;
    }
    .menuCate .subCate {
        padding: 10% 9%;
    }
}