@charset "utf-8";

*{
	margin:0;
	padding:0;
	border:0;
}

ul, ol, li{
	list-style:none;
}

a{
	text-decoration:none;
	outline:none;
	color:#333;
}

img{
	border:0;
}

.cf:after{
	content:'';
	display:block;
	clear:both;
}